@media screen and (max-width: 600px) {
  .add-plant {
    font-family: "OpenSans", Verdana, Geneva, Tahoma, sans-serif;
    width: 390px;
    height: 232px;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 50px;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25% 25% 25% 25%;
  }

  .add-plant h1 {
    font-size: 24px;
    font-weight: 400;
    text-align: center;
  }

  .add-plant input {
    height: 36px;
    width: 357px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 4px #00000030;
  }

  .add-plant .title {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .add-plant .plant {
    grid-column: 1/2;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 12px;
    font-weight: 400;
  }

  .add-plant .date {
    grid-column: 1/2;
    grid-row: 3/4;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 12px;
    font-weight: 400;
  }

  .add-plant .add-btn {
    grid-column: 1/2;
    grid-row: 4/5;
    display: flex;
    align-items: flex-end;
    justify-content: center;
  }

  .add-plant .add-btn button {
    font-size: 16px;
    font-weight: 700;
    color: white;
    width: 116px;
    height: 35px;
    border: none;
    border-radius: 9px;
    background-color: var(--green-bg);
    box-shadow: 0 4px 4px #00000030;
  }
}
